{
  "openapi": "3.0.4",
  "info": {
    "title": "Web.ExternalApiCore",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.poweroffice.net",
      "description": "Production server"
    }
  ],
  "paths": {
    "/Reporting/AccountTransactions": {
      "get": {
        "tags": [
          "AccountTransactions"
        ],
        "summary": "Gets all the GoApi.Reporting.AccountTransactions.AccountTransaction in the specified date range (FromDate - ToDate) filtered by odata query.",
        "description": "\n\n**Required Privilege:** Reporting_AccountTransaction",
        "operationId": "GetAccountTransactions",
        "parameters": [
          {
            "name": "accountCode",
            "in": "query",
            "description": "The account code.",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 3020
          },
          {
            "name": "fromDate",
            "in": "query",
            "description": "From date.",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "example": "2024-01-01T00:00:00"
          },
          {
            "name": "toDate",
            "in": "query",
            "description": "To date.",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "example": "2024-12-31T23:59:59"
          },
          {
            "name": "options",
            "in": "query",
            "description": "OData query parameters (e.g., $filter, $orderby, $top, $skip)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json;odata.metadata=minimal;odata.streaming=true": {
                "schema": {
                  "$ref": "#/components/schemas/One.Common.Api.DataPage`1[[GoApi.Reporting.AccountTransactions.AccountTransaction, GoApi, Version=3.0.1.0, Culture=neutral, PublicKeyToken=null]]"
                }
              },
              "application/json;odata.metadata=minimal;odata.streaming=false": {
                "schema": {
                  "$ref": "#/components/schemas/One.Common.Api.DataPage`1[[GoApi.Reporting.AccountTransactions.AccountTransaction, GoApi, Version=3.0.1.0, Culture=neutral, PublicKeyToken=null]]"
                }
              },
              "application/json;odata.metadata=minimal": {
                "schema": {
                  "$ref": "#/components/schemas/One.Common.Api.DataPage`1[[GoApi.Reporting.AccountTransactions.AccountTransaction, GoApi, Version=3.0.1.0, Culture=neutral, PublicKeyToken=null]]"
                }
              },
              "application/json;odata.metadata=full;odata.streaming=true": {
                "schema": {
                  "$ref": "#/components/schemas/One.Common.Api.DataPage`1[[GoApi.Reporting.AccountTransactions.AccountTransaction, GoApi, Version=3.0.1.0, Culture=neutral, PublicKeyToken=null]]"
                }
              },
              "application/json;odata.metadata=full;odata.streaming=false": {
                "schema": {
                  "$ref": "#/components/schemas/One.Common.Api.DataPage`1[[GoApi.Reporting.AccountTransactions.AccountTransaction, GoApi, Version=3.0.1.0, Culture=neutral, PublicKeyToken=null]]"
                }
              },
              "application/json;odata.metadata=full": {
                "schema": {
                  "$ref": "#/components/schemas/One.Common.Api.DataPage`1[[GoApi.Reporting.AccountTransactions.AccountTransaction, GoApi, Version=3.0.1.0, Culture=neutral, PublicKeyToken=null]]"
                }
              },
              "application/json;odata.metadata=none;odata.streaming=true": {
                "schema": {
                  "$ref": "#/components/schemas/One.Common.Api.DataPage`1[[GoApi.Reporting.AccountTransactions.AccountTransaction, GoApi, Version=3.0.1.0, Culture=neutral, PublicKeyToken=null]]"
                }
              },
              "application/json;odata.metadata=none;odata.streaming=false": {
                "schema": {
                  "$ref": "#/components/schemas/One.Common.Api.DataPage`1[[GoApi.Reporting.AccountTransactions.AccountTransaction, GoApi, Version=3.0.1.0, Culture=neutral, PublicKeyToken=null]]"
                }
              },
              "application/json;odata.metadata=none": {
                "schema": {
                  "$ref": "#/components/schemas/One.Common.Api.DataPage`1[[GoApi.Reporting.AccountTransactions.AccountTransaction, GoApi, Version=3.0.1.0, Culture=neutral, PublicKeyToken=null]]"
                }
              },
              "application/json;odata.streaming=true": {
                "schema": {
                  "$ref": "#/components/schemas/One.Common.Api.DataPage`1[[GoApi.Reporting.AccountTransactions.AccountTransaction, GoApi, Version=3.0.1.0, Culture=neutral, PublicKeyToken=null]]"
                }
              },
              "application/json;odata.streaming=false": {
                "schema": {
                  "$ref": "#/components/schemas/One.Common.Api.DataPage`1[[GoApi.Reporting.AccountTransactions.AccountTransaction, GoApi, Version=3.0.1.0, Culture=neutral, PublicKeyToken=null]]"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/One.Common.Api.DataPage`1[[GoApi.Reporting.AccountTransactions.AccountTransaction, GoApi, Version=3.0.1.0, Culture=neutral, PublicKeyToken=null]]"
                }
              },
              "application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/One.Common.Api.DataPage`1[[GoApi.Reporting.AccountTransactions.AccountTransaction, GoApi, Version=3.0.1.0, Culture=neutral, PublicKeyToken=null]]"
                }
              },
              "application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/One.Common.Api.DataPage`1[[GoApi.Reporting.AccountTransactions.AccountTransaction, GoApi, Version=3.0.1.0, Culture=neutral, PublicKeyToken=null]]"
                }
              },
              "application/json;odata.metadata=minimal;odata.streaming=false;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/One.Common.Api.DataPage`1[[GoApi.Reporting.AccountTransactions.AccountTransaction, GoApi, Version=3.0.1.0, Culture=neutral, PublicKeyToken=null]]"
                }
              },
              "application/json;odata.metadata=minimal;odata.streaming=false;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/One.Common.Api.DataPage`1[[GoApi.Reporting.AccountTransactions.AccountTransaction, GoApi, Version=3.0.1.0, Culture=neutral, PublicKeyToken=null]]"
                }
              },
              "application/json;odata.metadata=minimal;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/One.Common.Api.DataPage`1[[GoApi.Reporting.AccountTransactions.AccountTransaction, GoApi, Version=3.0.1.0, Culture=neutral, PublicKeyToken=null]]"
                }
              },
              "application/json;odata.metadata=minimal;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/One.Common.Api.DataPage`1[[GoApi.Reporting.AccountTransactions.AccountTransaction, GoApi, Version=3.0.1.0, Culture=neutral, PublicKeyToken=null]]"
                }
              },
              "application/json;odata.metadata=full;odata.streaming=true;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/One.Common.Api.DataPage`1[[GoApi.Reporting.AccountTransactions.AccountTransaction, GoApi, Version=3.0.1.0, Culture=neutral, PublicKeyToken=null]]"
                }
              },
              "application/json;odata.metadata=full;odata.streaming=true;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/One.Common.Api.DataPage`1[[GoApi.Reporting.AccountTransactions.AccountTransaction, GoApi, Version=3.0.1.0, Culture=neutral, PublicKeyToken=null]]"
                }
              },
              "application/json;odata.metadata=full;odata.streaming=false;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/One.Common.Api.DataPage`1[[GoApi.Reporting.AccountTransactions.AccountTransaction, GoApi, Version=3.0.1.0, Culture=neutral, PublicKeyToken=null]]"
                }
              },
              "application/json;odata.metadata=full;odata.streaming=false;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/One.Common.Api.DataPage`1[[GoApi.Reporting.AccountTransactions.AccountTransaction, GoApi, Version=3.0.1.0, Culture=neutral, PublicKeyToken=null]]"
                }
              },
              "application/json;odata.metadata=full;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/One.Common.Api.DataPage`1[[GoApi.Reporting.AccountTransactions.AccountTransaction, GoApi, Version=3.0.1.0, Culture=neutral, PublicKeyToken=null]]"
                }
              },
              "application/json;odata.metadata=full;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/One.Common.Api.DataPage`1[[GoApi.Reporting.AccountTransactions.AccountTransaction, GoApi, Version=3.0.1.0, Culture=neutral, PublicKeyToken=null]]"
                }
              },
              "application/json;odata.metadata=none;odata.streaming=true;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/One.Common.Api.DataPage`1[[GoApi.Reporting.AccountTransactions.AccountTransaction, GoApi, Version=3.0.1.0, Culture=neutral, PublicKeyToken=null]]"
                }
              },
              "application/json;odata.metadata=none;odata.streaming=true;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/One.Common.Api.DataPage`1[[GoApi.Reporting.AccountTransactions.AccountTransaction, GoApi, Version=3.0.1.0, Culture=neutral, PublicKeyToken=null]]"
                }
              },
              "application/json;odata.metadata=none;odata.streaming=false;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/One.Common.Api.DataPage`1[[GoApi.Reporting.AccountTransactions.AccountTransaction, GoApi, Version=3.0.1.0, Culture=neutral, PublicKeyToken=null]]"
                }
              },
              "application/json;odata.metadata=none;odata.streaming=false;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/One.Common.Api.DataPage`1[[GoApi.Reporting.AccountTransactions.AccountTransaction, GoApi, Version=3.0.1.0, Culture=neutral, PublicKeyToken=null]]"
                }
              },
              "application/json;odata.metadata=none;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/One.Common.Api.DataPage`1[[GoApi.Reporting.AccountTransactions.AccountTransaction, GoApi, Version=3.0.1.0, Culture=neutral, PublicKeyToken=null]]"
                }
              },
              "application/json;odata.metadata=none;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/One.Common.Api.DataPage`1[[GoApi.Reporting.AccountTransactions.AccountTransaction, GoApi, Version=3.0.1.0, Culture=neutral, PublicKeyToken=null]]"
                }
              },
              "application/json;odata.streaming=true;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/One.Common.Api.DataPage`1[[GoApi.Reporting.AccountTransactions.AccountTransaction, GoApi, Version=3.0.1.0, Culture=neutral, PublicKeyToken=null]]"
                }
              },
              "application/json;odata.streaming=true;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/One.Common.Api.DataPage`1[[GoApi.Reporting.AccountTransactions.AccountTransaction, GoApi, Version=3.0.1.0, Culture=neutral, PublicKeyToken=null]]"
                }
              },
              "application/json;odata.streaming=false;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/One.Common.Api.DataPage`1[[GoApi.Reporting.AccountTransactions.AccountTransaction, GoApi, Version=3.0.1.0, Culture=neutral, PublicKeyToken=null]]"
                }
              },
              "application/json;odata.streaming=false;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/One.Common.Api.DataPage`1[[GoApi.Reporting.AccountTransactions.AccountTransaction, GoApi, Version=3.0.1.0, Culture=neutral, PublicKeyToken=null]]"
                }
              },
              "application/json;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/One.Common.Api.DataPage`1[[GoApi.Reporting.AccountTransactions.AccountTransaction, GoApi, Version=3.0.1.0, Culture=neutral, PublicKeyToken=null]]"
                }
              },
              "application/json;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/One.Common.Api.DataPage`1[[GoApi.Reporting.AccountTransactions.AccountTransaction, GoApi, Version=3.0.1.0, Culture=neutral, PublicKeyToken=null]]"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/One.Common.Api.DataPage`1[[GoApi.Reporting.AccountTransactions.AccountTransaction, GoApi, Version=3.0.1.0, Culture=neutral, PublicKeyToken=null]]"
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/One.Common.Api.DataPage`1[[GoApi.Reporting.AccountTransactions.AccountTransaction, GoApi, Version=3.0.1.0, Culture=neutral, PublicKeyToken=null]]"
                }
              },
              "application/octet-stream": {
                "schema": {
                  "$ref": "#/components/schemas/One.Common.Api.DataPage`1[[GoApi.Reporting.AccountTransactions.AccountTransaction, GoApi, Version=3.0.1.0, Culture=neutral, PublicKeyToken=null]]"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/One.Common.Api.DataPage`1[[GoApi.Reporting.AccountTransactions.AccountTransaction, GoApi, Version=3.0.1.0, Culture=neutral, PublicKeyToken=null]]"
                }
              }
            }
          }
        }
      }
    },
    "/TimeTracking/Activity": {
      "get": {
        "tags": [
          "Activity"
        ],
        "summary": "Gets a list of GoApi.TimeTracking.Activity filtered by odata query.",
        "description": "\n\n**Required Privilege:** TimeTracking",
        "parameters": [
          {
            "name": "options",
            "in": "query",
            "description": "OData query parameters (e.g., $filter, $orderby, $top, $skip)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json;odata.metadata=minimal;odata.streaming=true": {
                "schema": {
                  "$ref": "#/components/schemas/One.Common.Api.DataPage`1[[GoApi.TimeTracking.Activity, GoApi, Version=3.0.1.0, Culture=neutral, PublicKeyToken=null]]"
                }
              },
              "application/json;odata.metadata=minimal;odata.streaming=false": {
                "schema": {
                  "$ref": "#/components/schemas/One.Common.Api.DataPage`1[[GoApi.TimeTracking.Activity, GoApi, Version=3.0.1.0, Culture=neutral, PublicKeyToken=null]]"
                }
              },
              "application/json;odata.metadata=minimal": {
                "schema": {
                  "$ref": "#/components/schemas/One.Common.Api.DataPage`1[[GoApi.TimeTracking.Activity, GoApi, Version=3.0.1.0, Culture=neutral, PublicKeyToken=null]]"
                }
              },
              "application/json;odata.metadata=full;odata.streaming=true": {
                "schema": {
                  "$ref": "#/components/schemas/One.Common.Api.DataPage`1[[GoApi.TimeTracking.Activity, GoApi, Version=3.0.1.0, Culture=neutral, PublicKeyToken=null]]"
                }
              },
              "application/json;odata.metadata=full;odata.streaming=false": {
                "schema": {
                  "$ref": "#/components/schemas/One.Common.Api.DataPage`1[[GoApi.TimeTracking.Activity, GoApi, Version=3.0.1.0, Culture=neutral, PublicKeyToken=null]]"
                }
              },
              "application/json;odata.metadata=full": {
                "schema": {
                  "$ref": "#/components/schemas/One.Common.Api.DataPage`1[[GoApi.TimeTracking.Activity, GoApi, Version=3.0.1.0, Culture=neutral, PublicKeyToken=null]]"
                }
              },
              "application/json;odata.metadata=none;odata.streaming=true": {
                "schema": {
                  "$ref": "#/components/schemas/One.Common.Api.DataPage`1[[GoApi.TimeTracking.Activity, GoApi, Version=3.0.1.0, Culture=neutral, PublicKeyToken=null]]"
                }
              },
              "application/json;odata.metadata=none;odata.streaming=false": {
                "schema": {
                  "$ref": "#/components/schemas/One.Common.Api.DataPage`1[[GoApi.TimeTracking.Activity, GoApi, Version=3.0.1.0, Culture=neutral, PublicKeyToken=null]]"
                }
              },
              "application/json;odata.metadata=none": {
                "schema": {
                  "$ref": "#/components/schemas/One.Common.Api.DataPage`1[[GoApi.TimeTracking.Activity, GoApi, Version=3.0.1.0, Culture=neutral, PublicKeyToken=null]]"
                }
              },
              "application/json;odata.streaming=true": {
                "schema": {
                  "$ref": "#/components/schemas/One.Common.Api.DataPage`1[[GoApi.TimeTracking.Activity, GoApi, Version=3.0.1.0, Culture=neutral, PublicKeyToken=null]]"
                }
              },
              "application/json;odata.streaming=false": {
                "schema": {
                  "$ref": "#/components/schemas/One.Common.Api.DataPage`1[[GoApi.TimeTracking.Activity, GoApi, Version=3.0.1.0, Culture=neutral, PublicKeyToken=null]]"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/One.Common.Api.DataPage`1[[GoApi.TimeTracking.Activity, GoApi, Version=3.0.1.0, Culture=neutral, PublicKeyToken=null]]"
                }
              },
              "application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/One.Common.Api.DataPage`1[[GoApi.TimeTracking.Activity, GoApi, Version=3.0.1.0, Culture=neutral, PublicKeyToken=null]]"
                }
              },
              "application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/One.Common.Api.DataPage`1[[GoApi.TimeTracking.Activity, GoApi, Version=3.0.1.0, Culture=neutral, PublicKeyToken=null]]"
                }
              },
              "application/json;odata.metadata=minimal;odata.streaming=false;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/One.Common.Api.DataPage`1[[GoApi.TimeTracking.Activity, GoApi, Version=3.0.1.0, Culture=neutral, PublicKeyToken=null]]"
                }
              },
              "application/json;odata.metadata=minimal;odata.streaming=false;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/One.Common.Api.DataPage`1[[GoApi.TimeTracking.Activity, GoApi, Version=3.0.1.0, Culture=neutral, PublicKeyToken=null]]"
                }
              },
              "application/json;odata.metadata=minimal;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/One.Common.Api.DataPage`1[[GoApi.TimeTracking.Activity, GoApi, Version=3.0.1.0, Culture=neutral, PublicKeyToken=null]]"
                }
              },
              "application/json;odata.metadata=minimal;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/One.Common.Api.DataPage`1[[GoApi.TimeTracking.Activity, GoApi, Version=3.0.1.0, Culture=neutral, PublicKeyToken=null]]"
                }
              },
              "application/json;odata.metadata=full;odata.streaming=true;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/One.Common.Api.DataPage`1[[GoApi.TimeTracking.Activity, GoApi, Version=3.0.1.0, Culture=neutral, PublicKeyToken=null]]"
                }
              },
              "application/json;odata.metadata=full;odata.streaming=true;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/One.Common.Api.DataPage`1[[GoApi.TimeTracking.Activity, GoApi, Version=3.0.1.0, Culture=neutral, PublicKeyToken=null]]"
                }
              },
              "application/json;odata.metadata=full;odata.streaming=false;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/One.Common.Api.DataPage`1[[GoApi.TimeTracking.Activity, GoApi, Version=3.0.1.0, Culture=neutral, PublicKeyToken=null]]"
                }
              },
              "application/json;odata.metadata=full;odata.streaming=false;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/One.Common.Api.DataPage`1[[GoApi.TimeTracking.Activity, GoApi, Version=3.0.1.0, Culture=neutral, PublicKeyToken=null]]"
                }
              },
              "application/json;odata.metadata=full;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/One.Common.Api.DataPage`1[[GoApi.TimeTracking.Activity, GoApi, Version=3.0.1.0, Culture=neutral, PublicKeyToken=null]]"
                }
              },
              "application/json;odata.metadata=full;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/One.Common.Api.DataPage`1[[GoApi.TimeTracking.Activity, GoApi, Version=3.0.1.0, Culture=neutral, PublicKeyToken=null]]"
                }
              },
              "application/json;odata.metadata=none;odata.streaming=true;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/One.Common.Api.DataPage`1[[GoApi.TimeTracking.Activity, GoApi, Version=3.0.1.0, Culture=neutral, PublicKeyToken=null]]"
                }
              },
              "application/json;odata.metadata=none;odata.streaming=true;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/One.Common.Api.DataPage`1[[GoApi.TimeTracking.Activity, GoApi, Version=3.0.1.0, Culture=neutral, PublicKeyToken=null]]"
                }
              },
              "application/json;odata.metadata=none;odata.streaming=false;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/One.Common.Api.DataPage`1[[GoApi.TimeTracking.Activity, GoApi, Version=3.0.1.0, Culture=neutral, PublicKeyToken=null]]"
                }
              },
              "application/json;odata.metadata=none;odata.streaming=false;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/One.Common.Api.DataPage`1[[GoApi.TimeTracking.Activity, GoApi, Version=3.0.1.0, Culture=neutral, PublicKeyToken=null]]"
                }
              },
              "application/json;odata.metadata=none;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/One.Common.Api.DataPage`1[[GoApi.TimeTracking.Activity, GoApi, Version=3.0.1.0, Culture=neutral, PublicKeyToken=null]]"
                }
              },
              "application/json;odata.metadata=none;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/One.Common.Api.DataPage`1[[GoApi.TimeTracking.Activity, GoApi, Version=3.0.1.0, Culture=neutral, PublicKeyToken=null]]"
                }
              },
              "application/json;odata.streaming=true;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/One.Common.Api.DataPage`1[[GoApi.TimeTracking.Activity, GoApi, Version=3.0.1.0, Culture=neutral, PublicKeyToken=null]]"
                }
              },
              "application/json;odata.streaming=true;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/One.Common.Api.DataPage`1[[GoApi.TimeTracking.Activity, GoApi, Version=3.0.1.0, Culture=neutral, PublicKeyToken=null]]"
                }
              },
              "application/json;odata.streaming=false;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/One.Common.Api.DataPage`1[[GoApi.TimeTracking.Activity, GoApi, Version=3.0.1.0, Culture=neutral, PublicKeyToken=null]]"
                }
              },
              "application/json;odata.streaming=false;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/One.Common.Api.DataPage`1[[GoApi.TimeTracking.Activity, GoApi, Version=3.0.1.0, Culture=neutral, PublicKeyToken=null]]"
                }
              },
              "application/json;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/One.Common.Api.DataPage`1[[GoApi.TimeTracking.Activity, GoApi, Version=3.0.1.0, Culture=neutral, PublicKeyToken=null]]"
                }
              },
              "application/json;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/One.Common.Api.DataPage`1[[GoApi.TimeTracking.Activity, GoApi, Version=3.0.1.0, Culture=neutral, PublicKeyToken=null]]"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/One.Common.Api.DataPage`1[[GoApi.TimeTracking.Activity, GoApi, Version=3.0.1.0, Culture=neutral, PublicKeyToken=null]]"
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/One.Common.Api.DataPage`1[[GoApi.TimeTracking.Activity, GoApi, Version=3.0.1.0, Culture=neutral, PublicKeyToken=null]]"
                }
              },
              "application/octet-stream": {
                "schema": {
                  "$ref": "#/components/schemas/One.Common.Api.DataPage`1[[GoApi.TimeTracking.Activity, GoApi, Version=3.0.1.0, Culture=neutral, PublicKeyToken=null]]"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/One.Common.Api.DataPage`1[[GoApi.TimeTracking.Activity, GoApi, Version=3.0.1.0, Culture=neutral, PublicKeyToken=null]]"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Activity"
        ],
        "summary": "Creates or updates the specified GoApi.TimeTracking.Activity.",
        "description": "\n\n**Required Privilege:** TimeTracking_Full",
        "requestBody": {
          "description": "The Activity.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GoApi.TimeTracking.Activity"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json;odata.metadata=minimal;odata.streaming=true": {
                "schema": {
                  "$ref": "#/components/schemas/GoApi.TimeTracking.Activity"
                }
              },
              "application/json;odata.metadata=minimal;odata.streaming=false": {
                "schema": {
                  "$ref": "#/components/schemas/GoApi.TimeTracking.Activity"
                }
              },
              "application/json;odata.metadata=minimal": {
                "schema": {
                  "$ref": "#/components/schemas/GoApi.TimeTracking.Activity"
                }
              },
              "application/json;odata.metadata=full;odata.streaming=true": {
                "schema": {
                  "$ref": "#/components/schemas/GoApi.TimeTracking.Activity"
                }
              },
              "application/json;odata.metadata=full;odata.streaming=false": {
                "schema": {
                  "$ref": "#/components/schemas/GoApi.TimeTracking.Activity"
                }
              },
              "application/json;odata.metadata=full": {
                "schema": {
                  "$ref": "#/components/schemas/GoApi.TimeTracking.Activity"
                }
              },
              "application/json;odata.metadata=none;odata.streaming=true": {
                "schema": {
                  "$ref": "#/components/schemas/GoApi.TimeTracking.Activity"
                }
              },
              "application/json;odata.metadata=none;odata.streaming=false": {
                "schema": {
                  "$ref": "#/components/schemas/GoApi.TimeTracking.Activity"
                }
              },
              "application/json;odata.metadata=none": {
                "schema": {
                  "$ref": "#/components/schemas/GoApi.TimeTracking.Activity"
                }
              },
              "application/json;odata.streaming=true": {
                "schema": {
                  "$ref": "#/components/schemas/GoApi.TimeTracking.Activity"
                }
              },
              "application/json;odata.streaming=false": {
                "schema": {
                  "$ref": "#/components/schemas/GoApi.TimeTracking.Activity"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GoApi.TimeTracking.Activity"
                }
              },
              "application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/GoApi.TimeTracking.Activity"
                }
              },
              "application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/GoApi.TimeTracking.Activity"
                }
              },
              "application/json;odata.metadata=minimal;odata.streaming=false;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/GoApi.TimeTracking.Activity"
                }
              },
              "application/json;odata.metadata=minimal;odata.streaming=false;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/GoApi.TimeTracking.Activity"
                }
              },
              "application/json;odata.metadata=minimal;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/GoApi.TimeTracking.Activity"
                }
              },
              "application/json;odata.metadata=minimal;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/GoApi.TimeTracking.Activity"
                }
              },
              "application/json;odata.metadata=full;odata.streaming=true;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/GoApi.TimeTracking.Activity"
                }
              },
              "application/json;odata.metadata=full;odata.streaming=true;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/GoApi.TimeTracking.Activity"
                }
              },
              "application/json;odata.metadata=full;odata.streaming=false;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/GoApi.TimeTracking.Activity"
                }
              },
              "application/json;odata.metadata=full;odata.streaming=false;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/GoApi.TimeTracking.Activity"
                }
              },
              "application/json;odata.metadata=full;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/GoApi.TimeTracking.Activity"
                }
              },
              "application/json;odata.metadata=full;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/GoApi.TimeTracking.Activity"
                }
              },
              "application/json;odata.metadata=none;odata.streaming=true;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/GoApi.TimeTracking.Activity"
                }
              },
              "application/json;odata.metadata=none;odata.streaming=true;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/GoApi.TimeTracking.Activity"
                }
              },
              "application/json;odata.metadata=none;odata.streaming=false;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/GoApi.TimeTracking.Activity"
                }
              },
              "application/json;odata.metadata=none;odata.streaming=false;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/GoApi.TimeTracking.Activity"
                }
              },
              "application/json;odata.metadata=none;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/GoApi.TimeTracking.Activity"
                }
              },
              "application/json;odata.metadata=none;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/GoApi.TimeTracking.Activity"
                }
              },
              "application/json;odata.streaming=true;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/GoApi.TimeTracking.Activity"
                }
              },
              "application/json;odata.streaming=true;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/GoApi.TimeTracking.Activity"
                }
              },
              "application/json;odata.streaming=false;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/GoApi.TimeTracking.Activity"
                }
              },
              "application/json;odata.streaming=false;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/GoApi.TimeTracking.Activity"
                }
              },
              "application/json;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/GoApi.TimeTracking.Activity"
                }
              },
              "application/json;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/GoApi.TimeTracking.Activity"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/GoApi.TimeTracking.Activity"
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/GoApi.TimeTracking.Activity"
                }
              },
              "application/octet-stream": {
                "schema": {
                  "$ref": "#/components/schemas/GoApi.TimeTracking.Activity"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GoApi.TimeTracking.Activity"
                }
              }
            }
          }
        }
      }
    },
    "/TimeTracking/Activity/{id}": {
      "get": {
        "tags": [
          "Activity"
        ],
        "summary": "Gets the specified GoApi.TimeTracking.Activity by its identifier.",
        "description": "\n\n**Required Privilege:** TimeTracking",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The identifier.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 33445
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json;odata.metadata=minimal;odata.streaming=true": {
                "schema": {
                  "$ref": "#/components/schemas/GoApi.TimeTracking.Activity"
                }
              },
              "application/json;odata.metadata=minimal;odata.streaming=false": {
                "schema": {
                  "$ref": "#/components/schemas/GoApi.TimeTracking.Activity"
                }
              },
              "application/json;odata.metadata=minimal": {
                "schema": {
                  "$ref": "#/components/schemas/GoApi.TimeTracking.Activity"
                }
              },
              "application/json;odata.metadata=full;odata.streaming=true": {
                "schema": {
                  "$ref": "#/components/schemas/GoApi.TimeTracking.Activity"
                }
              },
              "application/json;odata.metadata=full;odata.streaming=false": {
                "schema": {
                  "$ref": "#/components/schemas/GoApi.TimeTracking.Activity"
                }
              },
              "application/json;odata.metadata=full": {
                "schema": {
                  "$ref": "#/components/schemas/GoApi.TimeTracking.Activity"
                }
              },
              "application/json;odata.metadata=none;odata.streaming=true": {
                "schema": {
                  "$ref": "#/components/schemas/GoApi.TimeTracking.Activity"
                }
              },
              "application/json;odata.metadata=none;odata.streaming=false": {
                "schema": {
                  "$ref": "#/components/schemas/GoApi.TimeTracking.Activity"
                }
              },
              "application/json;odata.metadata=none": {
                "schema": {
                  "$ref": "#/components/schemas/GoApi.TimeTracking.Activity"
                }
              },
              "application/json;odata.streaming=true": {
                "schema": {
                  "$ref": "#/components/schemas/GoApi.TimeTracking.Activity"
                }
              },
              "application/json;odata.streaming=false": {
                "schema": {
                  "$ref": "#/components/schemas/GoApi.TimeTracking.Activity"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GoApi.TimeTracking.Activity"
                }
              },
              "application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/GoApi.TimeTracking.Activity"
                }
              },
              "application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/GoApi.TimeTracking.Activity"
                }
              },
              "application/json;odata.metadata=minimal;odata.streaming=false;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/GoApi.TimeTracking.Activity"
                }
              },
              "application/json;odata.metadata=minimal;odata.streaming=false;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/GoApi.TimeTracking.Activity"
                }
              },
              "application/json;odata.metadata=minimal;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/GoApi.TimeTracking.Activity"
                }
              },
              "application/json;odata.metadata=minimal;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/GoApi.TimeTracking.Activity"
                }
              },
              "application/json;odata.metadata=full;odata.streaming=true;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/GoApi.TimeTracking.Activity"
                }
              },
              "application/json;odata.metadata=full;odata.streaming=true;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/GoApi.TimeTracking.Activity"
                }
              },
              "application/json;odata.metadata=full;odata.streaming=false;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/GoApi.TimeTracking.Activity"
                }
              },
              "application/json;odata.metadata=full;odata.streaming=false;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/GoApi.TimeTracking.Activity"
                }
              },
              "application/json;odata.metadata=full;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/GoApi.TimeTracking.Activity"
                }
              },
              "application/json;odata.metadata=full;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/GoApi.TimeTracking.Activity"
                }
              },
              "application/json;odata.metadata=none;odata.streaming=true;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/GoApi.TimeTracking.Activity"
                }
              },
              "application/json;odata.metadata=none;odata.streaming=true;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/GoApi.TimeTracking.Activity"
                }
              },
              "application/json;odata.metadata=none;odata.streaming=false;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/GoApi.TimeTracking.Activity"
                }
              },
              "application/json;odata.metadata=none;odata.streaming=false;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/GoApi.TimeTracking.Activity"
                }
              },
              "application/json;odata.metadata=none;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/GoApi.TimeTracking.Activity"
                }
              },
              "application/json;odata.metadata=none;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/GoApi.TimeTracking.Activity"
                }
              },
              "application/json;odata.streaming=true;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/GoApi.TimeTracking.Activity"
                }
              },
              "application/json;odata.streaming=true;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/GoApi.TimeTracking.Activity"
                }
              },
              "application/json;odata.streaming=false;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/GoApi.TimeTracking.Activity"
                }
              },
              "application/json;odata.streaming=false;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/GoApi.TimeTracking.Activity"
                }
              },
              "application/json;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/GoApi.TimeTracking.Activity"
                }
              },
              "application/json;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/GoApi.TimeTracking.Activity"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/GoApi.TimeTracking.Activity"
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/GoApi.TimeTracking.Activity"
                }
              },
              "application/octet-stream": {
                "schema": {
                  "$ref": "#/components/schemas/GoApi.TimeTracking.Activity"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GoApi.TimeTracking.Activity"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Activity"
        ],
        "summary": "Deletes the specified GoApi.TimeTracking.Activity by its identifier.",
        "description": "\n\n**Required Privilege:** TimeTracking_Full",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The identifier.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 33445
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json;odata.metadata=minimal;odata.streaming=true": {
                "schema": {
                  "$ref": "#/components/schemas/One.Common.Api.Success"
                }
              },
              "application/json;odata.metadata=minimal;odata.streaming=false": {
                "schema": {
                  "$ref": "#/components/schemas/One.Common.Api.Success"
                }
              },
              "application/json;odata.metadata=minimal": {
                "schema": {
                  "$ref": "#/components/schemas/One.Common.Api.Success"
                }
              },
              "application/json;odata.metadata=full;odata.streaming=true": {
                "schema": {
                  "$ref": "#/components/schemas/One.Common.Api.Success"
                }
              },
              "application/json;odata.metadata=full;odata.streaming=false": {
                "schema": {
                  "$ref": "#/components/schemas/One.Common.Api.Success"
                }
              },
              "application/json;odata.metadata=full": {
                "schema": {
                  "$ref": "#/components/schemas/One.Common.Api.Success"
                }
              },
              "application/json;odata.metadata=none;odata.streaming=true": {
                "schema": {
                  "$ref": "#/components/schemas/One.Common.Api.Success"
                }
              },
              "application/json;odata.metadata=none;odata.streaming=false": {
                "schema": {
                  "$ref": "#/components/schemas/One.Common.Api.Success"
                }
              },
              "application/json;odata.metadata=none": {
                "schema": {
                  "$ref": "#/components/schemas/One.Common.Api.Success"
                }
              },
              "application/json;odata.streaming=true": {
                "schema": {
                  "$ref": "#/components/schemas/One.Common.Api.Success"
                }
              },
              "application/json;odata.streaming=false": {
                "schema": {
                  "$ref": "#/components/schemas/One.Common.Api.Success"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/One.Common.Api.Success"
                }
              },
              "application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/One.Common.Api.Success"
                }
              },
              "application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/One.Common.Api.Success"
                }
              },
              "application/json;odata.metadata=minimal;odata.streaming=false;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/One.Common.Api.Success"
                }
              },
              "application/json;odata.metadata=minimal;odata.streaming=false;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/One.Common.Api.Success"
                }
              },
              "application/json;odata.metadata=minimal;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/One.Common.Api.Success"
                }
              },
              "application/json;odata.metadata=minimal;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/One.Common.Api.Success"
                }
              },
              "application/json;odata.metadata=full;odata.streaming=true;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/One.Common.Api.Success"
                }
              },
              "application/json;odata.metadata=full;odata.streaming=true;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/One.Common.Api.Success"
                }
              },
              "application/json;odata.metadata=full;odata.streaming=false;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/One.Common.Api.Success"
                }
              },
              "application/json;odata.metadata=full;odata.streaming=false;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/One.Common.Api.Success"
                }
              },
              "application/json;odata.metadata=full;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/One.Common.Api.Success"
                }
              },
              "application/json;odata.metadata=full;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/One.Common.Api.Success"
                }
              },
              "application/json;odata.metadata=none;odata.streaming=true;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/One.Common.Api.Success"
                }
              },
              "application/json;odata.metadata=none;odata.streaming=true;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/One.Common.Api.Success"
                }
              },
              "application/json;odata.metadata=none;odata.streaming=false;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/One.Common.Api.Success"
                }
              },
              "application/json;odata.metadata=none;odata.streaming=false;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/One.Common.Api.Success"
                }
              },
              "application/json;odata.metadata=none;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/One.Common.Api.Success"
                }
              },
              "application/json;odata.metadata=none;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/One.Common.Api.Success"
                }
              },
              "application/json;odata.streaming=true;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/One.Common.Api.Success"
                }
              },
              "application/json;odata.streaming=true;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/One.Common.Api.Success"
                }
              },
              "application/json;odata.streaming=false;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/One.Common.Api.Success"
                }
              },
              "application/json;odata.streaming=false;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/One.Common.Api.Success"
                }
              },
              "application/json;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/One.Common.Api.Success"
                }
              },
              "application/json;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/One.Common.Api.Success"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/One.Common.Api.Success"
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/One.Common.Api.Success"
                }
              },
              "application/octet-stream": {
                "schema": {
                  "$ref": "#/components/schemas/One.Common.Api.Success"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/One.Common.Api.Success"
                }
              }
            }
          }
        }
      }
    },
    "/OAuth/Token": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Gets an access token for the client application.",
        "description": "Token expiry time is 20 minutes.\r\nrefresh_token is obsolete and should not be used.",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "grant_type": {
                    "type": "string",
                    "description": "Grant type must be client_credentials",
                    "example": "client_credentials"
                  }
                }
              },
              "encoding": {
                "grant_type": {
                  "style": "form"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json;odata.metadata=minimal;odata.streaming=true": {
                "schema": {
                  "$ref": "#/components/schemas/Web.ExternalApiCore.Controllers.TokenResponseDto"
                }
              },
              "application/json;odata.metadata=minimal;odata.streaming=false": {
                "schema": {
                  "$ref": "#/components/schemas/Web.ExternalApiCore.Controllers.TokenResponseDto"
                }
              },
              "application/json;odata.metadata=minimal": {
                "schema": {
                  "$ref": "#/components/schemas/Web.ExternalApiCore.Controllers.TokenResponseDto"
                }
              },
              "application/json;odata.metadata=full;odata.streaming=true": {
                "schema": {
                  "$ref": "#/components/schemas/Web.ExternalApiCore.Controllers.TokenResponseDto"
                }
              },
              "application/json;odata.metadata=full;odata.streaming=false": {
                "schema": {
                  "$ref": "#/components/schemas/Web.ExternalApiCore.Controllers.TokenResponseDto"
                }
              },
              "application/json;odata.metadata=full": {
                "schema": {
                  "$ref": "#/components/schemas/Web.ExternalApiCore.Controllers.TokenResponseDto"
                }
              },
              "application/json;odata.metadata=none;odata.streaming=true": {
                "schema": {
                  "$ref": "#/components/schemas/Web.ExternalApiCore.Controllers.TokenResponseDto"
                }
              },
              "application/json;odata.metadata=none;odata.streaming=false": {
                "schema": {
                  "$ref": "#/components/schemas/Web.ExternalApiCore.Controllers.TokenResponseDto"
                }
              },
              "application/json;odata.metadata=none": {
                "schema": {
                  "$ref": "#/components/schemas/Web.ExternalApiCore.Controllers.TokenResponseDto"
                }
              },
              "application/json;odata.streaming=true": {
                "schema": {
                  "$ref": "#/components/schemas/Web.ExternalApiCore.Controllers.TokenResponseDto"
                }
              },
              "application/json;odata.streaming=false": {
                "schema": {
                  "$ref": "#/components/schemas/Web.ExternalApiCore.Controllers.TokenResponseDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Web.ExternalApiCore.Controllers.TokenResponseDto"
                }
              },
              "application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/Web.ExternalApiCore.Controllers.TokenResponseDto"
                }
              },
              "application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/Web.ExternalApiCore.Controllers.TokenResponseDto"
                }
              },
              "application/json;odata.metadata=minimal;odata.streaming=false;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/Web.ExternalApiCore.Controllers.TokenResponseDto"
                }
              },
              "application/json;odata.metadata=minimal;odata.streaming=false;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/Web.ExternalApiCore.Controllers.TokenResponseDto"
                }
              },
              "application/json;odata.metadata=minimal;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/Web.ExternalApiCore.Controllers.TokenResponseDto"
                }
              },
              "application/json;odata.metadata=minimal;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/Web.ExternalApiCore.Controllers.TokenResponseDto"
                }
              },
              "application/json;odata.metadata=full;odata.streaming=true;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/Web.ExternalApiCore.Controllers.TokenResponseDto"
                }
              },
              "application/json;odata.metadata=full;odata.streaming=true;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/Web.ExternalApiCore.Controllers.TokenResponseDto"
                }
              },
              "application/json;odata.metadata=full;odata.streaming=false;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/Web.ExternalApiCore.Controllers.TokenResponseDto"
                }
              },
              "application/json;odata.metadata=full;odata.streaming=false;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/Web.ExternalApiCore.Controllers.TokenResponseDto"
                }
              },
              "application/json;odata.metadata=full;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/Web.ExternalApiCore.Controllers.TokenResponseDto"
                }
              },
              "application/json;odata.metadata=full;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/Web.ExternalApiCore.Controllers.TokenResponseDto"
                }
              },
              "application/json;odata.metadata=none;odata.streaming=true;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/Web.ExternalApiCore.Controllers.TokenResponseDto"
                }
              },
              "application/json;odata.metadata=none;odata.streaming=true;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/Web.ExternalApiCore.Controllers.TokenResponseDto"
                }
              },
              "application/json;odata.metadata=none;odata.streaming=false;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/Web.ExternalApiCore.Controllers.TokenResponseDto"
                }
              },
              "application/json;odata.metadata=none;odata.streaming=false;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/Web.ExternalApiCore.Controllers.TokenResponseDto"
                }
              },
              "application/json;odata.metadata=none;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/Web.ExternalApiCore.Controllers.TokenResponseDto"
                }
              },
              "application/json;odata.metadata=none;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/Web.ExternalApiCore.Controllers.TokenResponseDto"
                }
              },
              "application/json;odata.streaming=true;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/Web.ExternalApiCore.Controllers.TokenResponseDto"
                }
              },
              "application/json;odata.streaming=true;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/Web.ExternalApiCore.Controllers.TokenResponseDto"
                }
              },
              "application/json;odata.streaming=false;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/Web.ExternalApiCore.Controllers.TokenResponseDto"
                }
              },
              "application/json;odata.streaming=false;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/Web.ExternalApiCore.Controllers.TokenResponseDto"
                }
              },
              "application/json;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/Web.ExternalApiCore.Controllers.TokenResponseDto"
                }
              },
              "application/json;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/Web.ExternalApiCore.Controllers.TokenResponseDto"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Web.ExternalApiCore.Controllers.TokenResponseDto"
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Web.ExternalApiCore.Controllers.TokenResponseDto"
                }
              },
              "application/octet-stream": {
                "schema": {
                  "$ref": "#/components/schemas/Web.ExternalApiCore.Controllers.TokenResponseDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Web.ExternalApiCore.Controllers.TokenResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/Voucher/BankJournalVoucher": {
      "get": {
        "tags": [
          "BankJournalVoucher"
        ],
        "summary": "Gets a list of GoApi.Voucher.BankJournalVoucher filtered by odata query. This query will only return the bank journal vouchers created by the integration itself, not all vouchers of type One.Domain.Entities.Accounting.Vouchers.VoucherType.BankJournal.",
        "description": "\n\n**Required Privilege:** BankJournalVoucher",
        "parameters": [
          {
            "name": "options",
            "in": "query",
            "description": "OData query parameters (e.g., $filter, $orderby, $top, $skip)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json;odata.metadata=minimal;odata.streaming=true": {
                "schema": {
                  "$ref": "#/components/schemas/One.Common.Api.DataPage`1[[GoApi.Voucher.BankJournalVoucher, GoApi, Version=3.0.1.0, Culture=neutral, PublicKeyToken=null]]"
                }
              },
              "application/json;odata.metadata=minimal;odata.streaming=false": {
                "schema": {
                  "$ref": "#/components/schemas/One.Common.Api.DataPage`1[[GoApi.Voucher.BankJournalVoucher, GoApi, Version=3.0.1.0, Culture=neutral, PublicKeyToken=null]]"
                }
              },
              "application/json;odata.metadata=minimal": {
                "schema": {
                  "$ref": "#/components/schemas/One.Common.Api.DataPage`1[[GoApi.Voucher.BankJournalVoucher, GoApi, Version=3.0.1.0, Culture=neutral, PublicKeyToken=null]]"
                }
              },
              "application/json;odata.metadata=full;odata.streaming=true": {
                "schema": {
                  "$ref": "#/components/schemas/One.Common.Api.DataPage`1[[GoApi.Voucher.BankJournalVoucher, GoApi, Version=3.0.1.0, Culture=neutral, PublicKeyToken=null]]"
                }
              },
              "application/json;odata.metadata=full;odata.streaming=false": {
                "schema": {
                  "$ref": "#/components/schemas/One.Common.Api.DataPage`1[[GoApi.Voucher.BankJournalVoucher, GoApi, Version=3.0.1.0, Culture=neutral, PublicKeyToken=null]]"
                }
              },
              "application/json;odata.metadata=full": {
                "schema": {
                  "$ref": "#/components/schemas/One.Common.Api.DataPage`1[[GoApi.Voucher.BankJournalVoucher, GoApi, Version=3.0.1.0, Culture=neutral, PublicKeyToken=null]]"
                }
              },
              "application/json;odata.metadata=none;odata.streaming=true": {
                "schema": {
                  "$ref": "#/components/schemas/One.Common.Api.DataPage`1[[GoApi.Voucher.BankJournalVoucher, GoApi, Version=3.0.1.0, Culture=neutral, PublicKeyToken=null]]"
                }
              },
              "application/json;odata.metadata=none;odata.streaming=false": {
                "schema": {
                  "$ref": "#/components/schemas/One.Common.Api.DataPage`1[[GoApi.Voucher.BankJournalVoucher, GoApi, Version=3.0.1.0, Culture=neutral, PublicKeyToken=null]]"
                }
              },
              "application/json;odata.metadata=none": {
                "schema": {
                  "$ref": "#/components/schemas/One.Common.Api.DataPage`1[[GoApi.Voucher.BankJournalVoucher, GoApi, Version=3.0.1.0, Culture=neutral, PublicKeyToken=null]]"
                }
              },
              "application/json;odata.streaming=true": {
                "schema": {
                  "$ref": "#/components/schemas/One.Common.Api.DataPage`1[[GoApi.Voucher.BankJournalVoucher, GoApi, Version=3.0.1.0, Culture=neutral, PublicKeyToken=null]]"
                }
              },
              "application/json;odata.streaming=false": {
                "schema": {
                  "$ref": "#/components/schemas/One.Common.Api.DataPage`1[[GoApi.Voucher.BankJournalVoucher, GoApi, Version=3.0.1.0, Culture=neutral, PublicKeyToken=null]]"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/One.Common.Api.DataPage`1[[GoApi.Voucher.BankJournalVoucher, GoApi, Version=3.0.1.0, Culture=neutral, PublicKeyToken=null]]"
                }
              },
              "application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/One.Common.Api.DataPage`1[[GoApi.Voucher.BankJournalVoucher, GoApi, Version=3.0.1.0, Culture=neutral, PublicKeyToken=null]]"
                }
              },
              "application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/One.Common.Api.DataPage`1[[GoApi.Voucher.BankJournalVoucher, GoApi, Version=3.0.1.0, Culture=neutral, PublicKeyToken=null]]"
                }
              },
              "application/json;odata.metadata=minimal;odata.streaming=false;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/One.Common.Api.DataPage`1[[GoApi.Voucher.BankJournalVoucher, GoApi, Version=3.0.1.0, Culture=neutral, PublicKeyToken=null]]"
                }
              },
              "application/json;odata.metadata=minimal;odata.streaming=false;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/One.Common.Api.DataPage`1[[GoApi.Voucher.BankJournalVoucher, GoApi, Version=3.0.1.0, Culture=neutral, PublicKeyToken=null]]"
                }
              },
              "application/json;odata.metadata=minimal;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/One.Common.Api.DataPage`1[[GoApi.Voucher.BankJournalVoucher, GoApi, Version=3.0.1.0, Culture=neutral, PublicKeyToken=null]]"
                }
              },
              "application/json;odata.metadata=minimal;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/One.Common.Api.DataPage`1[[GoApi.Voucher.BankJournalVoucher, GoApi, Version=3.0.1.0, Culture=neutral, PublicKeyToken=null]]"
                }
              },
              "application/json;odata.metadata=full;odata.streaming=true;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/One.Common.Api.DataPage`1[[GoApi.Voucher.BankJournalVoucher, GoApi, Version=3.0.1.0, Culture=neutral, PublicKeyToken=null]]"
                }
              },
              "application/json;odata.metadata=full;odata.streaming=true;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/One.Common.Api.DataPage`1[[GoApi.Voucher.BankJournalVoucher, GoApi, Version=3.0.1.0, Culture=neutral, PublicKeyToken=null]]"
                }
              },
              "application/json;odata.metadata=full;odata.streaming=false;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/One.Common.Api.DataPage`1[[GoApi.Voucher.BankJournalVoucher, GoApi, Version=3.0.1.0, Culture=neutral, PublicKeyToken=null]]"
                }
              },
              "application/json;odata.metadata=full;odata.streaming=false;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/One.Common.Api.DataPage`1[[GoApi.Voucher.BankJournalVoucher, GoApi, Version=3.0.1.0, Culture=neutral, PublicKeyToken=null]]"
                }
              },
              "application/json;odata.metadata=full;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/One.Common.Api.DataPage`1[[GoApi.Voucher.BankJournalVoucher, GoApi, Version=3.0.1.0, Culture=neutral, PublicKeyToken=null]]"
                }
              },
              "application/json;odata.metadata=full;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/One.Common.Api.DataPage`1[[GoApi.Voucher.BankJournalVoucher, GoApi, Version=3.0.1.0, Culture=neutral, PublicKeyToken=null]]"
                }
              },
              "application/json;odata.metadata=none;odata.streaming=true;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/One.Common.Api.DataPage`1[[GoApi.Voucher.BankJournalVoucher, GoApi, Version=3.0.1.0, Culture=neutral, PublicKeyToken=null]]"
                }
              },
              "application/json;odata.metadata=none;odata.streaming=true;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/One.Common.Api.DataPage`1[[GoApi.Voucher.BankJournalVoucher, GoApi, Version=3.0.1.0, Culture=neutral, PublicKeyToken=null]]"
                }
              },
              "application/json;odata.metadata=none;odata.streaming=false;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/One.Common.Api.DataPage`1[[GoApi.Voucher.BankJournalVoucher, GoApi, Version=3.0.1.0, Culture=neutral, PublicKeyToken=null]]"
                }
              },
              "application/json;odata.metadata=none;odata.streaming=false;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/One.Common.Api.DataPage`1[[GoApi.Voucher.BankJournalVoucher, GoApi, Version=3.0.1.0, Culture=neutral, PublicKeyToken=null]]"
                }
              },
              "application/json;odata.metadata=none;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/One.Common.Api.DataPage`1[[GoApi.Voucher.BankJournalVoucher, GoApi, Version=3.0.1.0, Culture=neutral, PublicKeyToken=null]]"
                }
              },
              "application/json;odata.metadata=none;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/One.Common.Api.DataPage`1[[GoApi.Voucher.BankJournalVoucher, GoApi, Version=3.0.1.0, Culture=neutral, PublicKeyToken=null]]"
                }
              },
              "application/json;odata.streaming=true;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/One.Common.Api.DataPage`1[[GoApi.Voucher.BankJournalVoucher, GoApi, Version=3.0.1.0, Culture=neutral, PublicKeyToken=null]]"
                }
              },
              "application/json;odata.streaming=true;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/One.Common.Api.DataPage`1[[GoApi.Voucher.BankJournalVoucher, GoApi, Version=3.0.1.0, Culture=neutral, PublicKeyToken=null]]"
                }
              },
              "application/json;odata.streaming=false;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/One.Common.Api.DataPage`1[[GoApi.Voucher.BankJournalVoucher, GoApi, Version=3.0.1.0, Culture=neutral, PublicKeyToken=null]]"
                }
              },
              "application/json;odata.streaming=false;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/One.Common.Api.DataPage`1[[GoApi.Voucher.BankJournalVoucher, GoApi, Version=3.0.1.0, Culture=neutral, PublicKeyToken=null]]"
                }
              },
              "application/json;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/One.Common.Api.DataPage`1[[GoApi.Voucher.BankJournalVoucher, GoApi, Version=3.0.1.0, Culture=neutral, PublicKeyToken=null]]"
                }
              },
              "application/json;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/One.Common.Api.DataPage`1[[GoApi.Voucher.BankJournalVoucher, GoApi, Version=3.0.1.0, Culture=neutral, PublicKeyToken=null]]"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/One.Common.Api.DataPage`1[[GoApi.Voucher.BankJournalVoucher, GoApi, Version=3.0.1.0, Culture=neutral, PublicKeyToken=null]]"
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/One.Common.Api.DataPage`1[[GoApi.Voucher.BankJournalVoucher, GoApi, Version=3.0.1.0, Culture=neutral, PublicKeyToken=null]]"
                }
              },
              "application/octet-stream": {
                "schema": {
                  "$ref": "#/components/schemas/One.Common.Api.DataPage`1[[GoApi.Voucher.BankJournalVoucher, GoApi, Version=3.0.1.0, Culture=neutral, PublicKeyToken=null]]"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/One.Common.Api.DataPage`1[[GoApi.Voucher.BankJournalVoucher, GoApi, Version=3.0.1.0, Culture=neutral, PublicKeyToken=null]]"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "BankJournalVoucher"
        ],
        "summary": "Saves a GoApi.Voucher.BankJournalVoucher and posts it to the general ledger.",
        "description": "\n\n**Required Privilege:** BankJournalVoucher_Full",
        "requestBody": {
          "description": "The voucher",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GoApi.Voucher.BankJournalVoucher"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json;odata.metadata=minimal;odata.streaming=true": {
                "schema": {
                  "$ref": "#/components/schemas/GoApi.Voucher.BankJournalVoucher"
                }
              },
              "application/json;odata.metadata=minimal;odata.streaming=false": {
                "schema": {
                  "$ref": "#/components/schemas/GoApi.Voucher.BankJournalVoucher"
                }
              },
              "application/json;odata.metadata=minimal": {
                "schema": {
                  "$ref": "#/components/schemas/GoApi.Voucher.BankJournalVoucher"
                }
              },
              "application/json;odata.metadata=full;odata.streaming=true": {
                "schema": {
                  "$ref": "#/components/schemas/GoApi.Voucher.BankJournalVoucher"
                }
              },
              "application/json;odata.metadata=full;odata.streaming=false": {
                "schema": {
                  "$ref": "#/components/schemas/GoApi.Voucher.BankJournalVoucher"
                }
              },
              "application/json;odata.metadata=full": {
                "schema": {
                  "$ref": "#/components/schemas/GoApi.Voucher.BankJournalVoucher"
                }
              },
              "application/json;odata.metadata=none;odata.streaming=true": {
                "schema": {
                  "$ref": "#/components/schemas/GoApi.Voucher.BankJournalVoucher"
                }
              },
              "application/json;odata.metadata=none;odata.streaming=false": {
                "schema": {
                  "$ref": "#/components/schemas/GoApi.Voucher.BankJournalVoucher"
                }
              },
              "application/json;odata.metadata=none": {
                "schema": {
                  "$ref": "#/components/schemas/GoApi.Voucher.BankJournalVoucher"
                }
              },
              "application/json;odata.streaming=true": {
                "schema": {
                  "$ref": "#/components/schemas/GoApi.Voucher.BankJournalVoucher"
                }
              },
              "application/json;odata.streaming=false": {
                "schema": {
                  "$ref": "#/components/schemas/GoApi.Voucher.BankJournalVoucher"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GoApi.Voucher.BankJournalVoucher"
                }
              },
              "application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/GoApi.Voucher.BankJournalVoucher"
                }
              },
              "application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/GoApi.Voucher.BankJournalVoucher"
                }
              },
              "application/json;odata.metadata=minimal;odata.streaming=false;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/GoApi.Voucher.BankJournalVoucher"
                }
              },
              "application/json;odata.metadata=minimal;odata.streaming=false;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/GoApi.Voucher.BankJournalVoucher"
                }
              },
              "application/json;odata.metadata=minimal;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/GoApi.Voucher.BankJournalVoucher"
                }
              },
              "application/json;odata.metadata=minimal;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/GoApi.Voucher.BankJournalVoucher"
                }
              },
              "application/json;odata.metadata=full;odata.streaming=true;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/GoApi.Voucher.BankJournalVoucher"
                }
              },
              "application/json;odata.metadata=full;odata.streaming=true;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/GoApi.Voucher.BankJournalVoucher"
                }
              },
              "application/json;odata.metadata=full;odata.streaming=false;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/GoApi.Voucher.BankJournalVoucher"
                }
              },
              "application/json;odata.metadata=full;odata.streaming=false;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/GoApi.Voucher.BankJournalVoucher"
                }
              },
              "application/json;odata.metadata=full;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/GoApi.Voucher.BankJournalVoucher"
                }
              },
              "application/json;odata.metadata=full;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/GoApi.Voucher.BankJournalVoucher"
                }
              },
              "application/json;odata.metadata=none;odata.streaming=true;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/GoApi.Voucher.BankJournalVoucher"
                }
              },
              "application/json;odata.metadata=none;odata.streaming=true;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/GoApi.Voucher.BankJournalVoucher"
                }
              },
              "application/json;odata.metadata=none;odata.streaming=false;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/GoApi.Voucher.BankJournalVoucher"
                }
              },
              "application/json;odata.metadata=none;odata.streaming=false;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/GoApi.Voucher.BankJournalVoucher"
                }
              },
              "application/json;odata.metadata=none;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/GoApi.Voucher.BankJournalVoucher"
                }
              },
              "application/json;odata.metadata=none;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/GoApi.Voucher.BankJournalVoucher"
                }
              },
              "application/json;odata.streaming=true;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/GoApi.Voucher.BankJournalVoucher"
                }
              },
              "application/json;odata.streaming=true;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/GoApi.Voucher.BankJournalVoucher"
                }
              },
              "application/json;odata.streaming=false;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/GoApi.Voucher.BankJournalVoucher"
                }
              },
              "application/json;odata.streaming=false;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/GoApi.Voucher.BankJournalVoucher"
                }
              },
              "application/json;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/GoApi.Voucher.BankJournalVoucher"
                }
              },
              "application/json;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/GoApi.Voucher.BankJournalVoucher"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/GoApi.Voucher.BankJournalVoucher"
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/GoApi.Voucher.BankJournalVoucher"
                }
              },
              "application/octet-stream": {
                "schema": {
                  "$ref": "#/components/schemas/GoApi.Voucher.BankJournalVoucher"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GoApi.Voucher.BankJournalVoucher"
                }
              }
            }
          }
        }
      }
    },
    "/Voucher/BankJournalVoucher/{id}": {
      "get": {
        "tags": [
          "BankJournalVoucher"
        ],
        "summary": "Gets the specified GoApi.Voucher.BankJournalVoucher by its identifier.\r\nWill throw an exception if the GoApi.Voucher.BankJournalVoucher does not exist, or it has not been created by the integration querying this method.",
        "description": "\n\n**Required Privilege:** BankJournalVoucher",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The identifier.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "example": "12345678-1234-1234-1234-123456789012"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json;odata.metadata=minimal;odata.streaming=true": {
                "schema": {
                  "$ref": "#/components/schemas/GoApi.Voucher.BankJournalVoucher"
                }
              },
              "application/json;odata.metadata=minimal;odata.streaming=false": {
                "schema": {
                  "$ref": "#/components/schemas/GoApi.Voucher.BankJournalVoucher"
                }
              },
              "application/json;odata.metadata=minimal": {
                "schema": {
                  "$ref": "#/components/schemas/GoApi.Voucher.BankJournalVoucher"
                }
              },
              "application/json;odata.metadata=full;odata.streaming=true": {
                "schema": {
                  "$ref": "#/components/schemas/GoApi.Voucher.BankJournalVoucher"
                }
              },
              "application/json;odata.metadata=full;odata.streaming=false": {
                "schema": {
                  "$ref": "#/components/schemas/GoApi.Voucher.BankJournalVoucher"
                }
              },
              "application/json;odata.metadata=full": {
                "schema": {
                  "$ref": "#/components/schemas/GoApi.Voucher.BankJournalVoucher"
                }
              },
              "application/json;odata.metadata=none;odata.streaming=true": {
                "schema": {
                  "$ref": "#/components/schemas/GoApi.Voucher.BankJournalVoucher"
                }
              },
              "application/json;odata.metadata=none;odata.streaming=false": {
                "schema": {
                  "$ref": "#/components/schemas/GoApi.Voucher.BankJournalVoucher"
                }
              },
              "application/json;odata.metadata=none": {
                "schema": {
                  "$ref": "#/components/schemas/GoApi.Voucher.BankJournalVoucher"
                }
              },
              "application/json;odata.streaming=true": {
                "schema": {
                  "$ref": "#/components/schemas/GoApi.Voucher.BankJournalVoucher"
                }
              },
              "application/json;odata.streaming=false": {
                "schema": {
                  "$ref": "#/components/schemas/GoApi.Voucher.BankJournalVoucher"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GoApi.Voucher.BankJournalVoucher"
                }
              },
              "application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/GoApi.Voucher.BankJournalVoucher"
                }
              },
              "application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/GoApi.Voucher.BankJournalVoucher"
                }
              },
              "application/json;odata.metadata=minimal;odata.streaming=false;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/GoApi.Voucher.BankJournalVoucher"
                }
              },
              "application/json;odata.metadata=minimal;odata.streaming=false;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/GoApi.Voucher.BankJournalVoucher"
                }
              },
              "application/json;odata.metadata=minimal;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/GoApi.Voucher.BankJournalVoucher"
                }
              },
              "application/json;odata.metadata=minimal;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/GoApi.Voucher.BankJournalVoucher"
                }
              },
              "application/json;odata.metadata=full;odata.streaming=true;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/GoApi.Voucher.BankJournalVoucher"
                }
              },
              "application/json;odata.metadata=full;odata.streaming=true;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/GoApi.Voucher.BankJournalVoucher"
                }
              },
              "application/json;odata.metadata=full;odata.streaming=false;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/GoApi.Voucher.BankJournalVoucher"
                }
              },
              "application/json;odata.metadata=full;odata.streaming=false;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/GoApi.Voucher.BankJournalVoucher"
                }
              },
              "application/json;odata.metadata=full;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/GoApi.Voucher.BankJournalVoucher"
                }
              },
              "application/json;odata.metadata=full;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/GoApi.Voucher.BankJournalVoucher"
                }
              },
              "application/json;odata.metadata=none;odata.streaming=true;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/GoApi.Voucher.BankJournalVoucher"
                }
              },
              "application/json;odata.metadata=none;odata.streaming=true;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/GoApi.Voucher.BankJournalVoucher"
                }
              },
              "application/json;odata.metadata=none;odata.streaming=false;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/GoApi.Voucher.BankJournalVoucher"
                }
              },
              "application/json;odata.metadata=none;odata.streaming=false;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/GoApi.Voucher.BankJournalVoucher"
                }
              },
              "application/json;odata.metadata=none;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/GoApi.Voucher.BankJournalVoucher"
                }
              },
              "application/json;odata.metadata=none;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/GoApi.Voucher.BankJournalVoucher"
                }
              },
              "application/json;odata.streaming=true;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/GoApi.Voucher.BankJournalVoucher"
                }
              },
              "application/json;odata.streaming=true;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/GoApi.Voucher.BankJournalVoucher"
                }
              },
              "application/json;odata.streaming=false;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/GoApi.Voucher.BankJournalVoucher"
                }
              },
              "application/json;odata.streaming=false;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/GoApi.Voucher.BankJournalVoucher"
                }
              },
              "application/json;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/GoApi.Voucher.BankJournalVoucher"
                }
              },
              "application/json;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/GoApi.Voucher.BankJournalVoucher"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/GoApi.Voucher.BankJournalVoucher"
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/GoApi.Voucher.BankJournalVoucher"
                }
              },
              "application/octet-stream": {
                "schema": {
                  "$ref": "#/components/schemas/GoApi.Voucher.BankJournalVoucher"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GoApi.Voucher.BankJournalVoucher"
                }
              }
            }
          }
        }
      }
    },
    "/Voucher/BankJournalVoucher/Reverse/{voucherId}": {
      "post": {
        "tags": [
          "BankJournalVoucher"
        ],
        "summary": "Reverses a previously sent voucher by its id.",
        "description": "\n\n**Required Privilege:** BankJournalVoucher_Full",
        "parameters": [
          {
            "name": "voucherId",
            "in": "path",
            "description": "The vouchers id.",
            "required": true,
            "schema": {
[...]
